@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@1&family=Roboto:wght@300&display=swap');

:root {
    --cor1: #665149;
    --cor2: #FF936B;
    --cor3: #E6B6A5;
    --cor4: #711F01;
    --cor5: #BA9486;
    --font-titulo: 'Roboto', sans-serif ;
    --font-texto: 'Inclusive Sans', sans-serif;;
}
body {
    background-color:#665149;
    margin: 0;
}
main {
    border-radius: 20px;
    width: 95%;
    height: 95vh;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    margin-top: 3vh;
    background-color: #BA9486;
}
#left {
    display: block;
    width: 50%;
}
#right {
    width: 50%;
}
main > #left> h2 {
    color: aliceblue;
    font-family:var(--font-titulo);
    font-size: 65px;
    margin: 0;
    letter-spacing: 7px;
    margin-left: 4vw;
    padding-top: 15vh;
}
main > #left > p {
    color: aliceblue;
    font-family: var(--font-texto);
    font-size: 20px;
    width: 75%;
    padding-top: 2vh;
    margin-left: 2vw;
}
#left > h3 {
    color: rgb(255, 255, 255);
    font-family: var(--font-texto);
    font-weight: 500;
    width: 90%;
    padding-top: 5vh;
    margin-left: 1vw;
    text-align: center;
}
#left > button {
    color: #ffffff;
    font-size: 50px;
    background-color:#FF936B;
    font-family: var(--font-titulo);
    margin-left: 12vw;
    border-radius: 10px;
}
main > #left > #random {
    color: aliceblue;
    font-family: var(--font-texto);
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    margin-top: -4vh;
    margin-left: 2vw;
}
#right > img {
    width: 26.01vw;
    margin-left: 15vw;

}
